*.egg-info/
*.pyc
**/*.pyc
*.ropeproject
*~
*.log
**/*.log
.DS_Store
.coverage
MANIFEST
dist/*
docs/_build/*
htmlcov/*
data/basic_stable/
data/24_bus/
data/IEEE_benchmark_to_add/

.vscode
.idea/
ids/deployment/testbed/data/config_files/demo.hdf5
ids/deployment/testbed/outputs/*
!ids/deployment/testbed/outputs/.gitkeep
ids/deployment/testbed/data/demo_mv_grid.json
ids/deployment/testbed/outputs/model_readings.csv
ids/deployment/testbed/outputs/output_during_rtu_step.txt
ids/contrib/*.pem